@tailwind base;

@layer base {
  html,
  body,
  main {
    @apply h-full w-full;
  }
}

@tailwind components;
@tailwind utilities;

main {
  background-position: top center;
  background-size: cover;
  padding: 1vmin;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* main.windows {
  background-image: url(../public/wallpaper.jpg);
}
main.macos {
  background-image: url(../public/mac-wallpaper.jpg);
} */

#file-group:focus .overlay {
  opacity: 0.5;
}

#file-group:hover .overlay {
  opacity: 0.2;
}

.vanta-container {
  width: 100vw;
  position: relative;
  height: 100%;
}

.vanta {
  position: fixed;
  height: 100%;
  /* width: 100vw; */
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  background: #242322;
  z-index: -1;
}

/* .vanta-overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
} */
